<body>
  <div class="mobile-nav">
    <button class="mobile-nav_close">X</button>

    <nav>
      <% if (!isLoggedIn) { %>
      <ul>
        <li>
          <a class="<%= path === '/' ? 'active' : '' %>" href="/">About</a>
        </li>
      </ul>
      <ul class="sign-in__login">
        <li>
          <a
            class="<%= path === '/login' ? 'active' : '' %>"
            href="/login-student"
            >Login</a
          >
        </li>
        <li>
          <a
            class="<%= path === '/signup' ? 'sign-up active' : 'sign-up' %>"
            href="/signup-student"
            >Sign Up</a
          >
        </li>
      </ul>
      <% } else if (role === "lecturer") { %>
      <ul>
        <li>
          <a
            class="<%= path === '/all-course-lecturer' ? 'active' : '' %>"
            href="/all-course-lecturer"
            >My Courses</a
          >
        </li>
      </ul>
      <ul class="sign-in__login">
        <li>
          <a
            class="<%= path === '/add-course-lecturer' ? 'sign-up active' : 'sign-up' %>"
            href="/add-course-lecturer"
          >
            <i class="fas fa-pencil-alt"></i>
            Add Course
          </a>
        </li>

        <form action="/logout" method="post">
          <button class="logout" type="submit">Logout</button>
        </form>
      </ul>
      <% } else if (role === "student") { %>
      <ul>
        <li>
          <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li>
          <a
            class="<%= path === '/all-course-student' ? 'active' : '' %>"
            href="/all-course-student"
            >All Courses</a
          >
        </li>
        <li>
          <a
            class="<%= path === '/my-course-student' ? 'active' : '' %>"
            href="/my-courses-student"
            >My Courses</a
          >
        </li>
      </ul>
      <ul class="sign-in__login">
        <form action="/logout" method="post">
          <button class="logout" type="submit">Logout</button>
        </form>
      </ul>
      <% } %>
    </nav>
  </div>

  <header>
    <a href="/" class="logo">
      <img src="/img/ABU-logo.png" alt="ABU-CourseHub_logo" /><br />
    </a>
    <nav>
      <% if (!isLoggedIn) { %>
      <ul>
        <li>
          <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>
      </ul>
      <ul class="sign-in__login">
        <li>
          <a
            class="<%= path === '/login' ? 'active' : '' %>"
            href="/login-student"
            >Login</a
          >
        </li>
        <li>
          <a
            class="<%= path === '/signup' ? 'sign-up active' : 'sign-up' %>"
            href="/signup-student"
            >Sign Up</a
          >
        </li>
      </ul>
      <% } else if (role === "lecturer") { %>
      <ul>
        <li>
          <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li>
          <a
            class="<%= path === '/all-course-lecturer' ? 'active' : '' %>"
            href="/all-course-lecturer"
            >My Courses</a
          >
        </li>
      </ul>
      <ul class="sign-in__login">
        <li>
          <a
            class="<%= path === '/add-course-lecturer' ? 'sign-up active' : 'sign-up' %>"
            href="/add-course-lecturer"
          >
            <i class="fas fa-pencil-alt"></i>
            Add Course
          </a>
        </li>

        <form action="/logout" method="post">
          <button class="logout" type="submit">Logout</button>
        </form>
      </ul>
      <% } else if (role === "student") { %>
      <ul>
        <li>
          <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li>
          <a
            class="<%= path === '/all-course-student' ? 'active' : '' %>"
            href="/all-course-student"
            >All Courses</a
          >
        </li>
        <li>
          <a
            class="<%= path === '/my-course-student' ? 'active' : '' %>"
            href="/my-courses-student"
            >My Courses</a
          >
        </li>
      </ul>
      <ul class="sign-in__login">
        <form action="/logout" method="post">
          <button class="logout" type="submit">Logout</button>
        </form>
      </ul>
      <% } %>
    </nav>

    <div class="mobile-nav_toggle">
      <button class="mobile-nav_toggle-btn">
        <img src="/img/menu.svg" alt="toggle-btn" />
      </button>
    </div>
  </header>
</body>
