<body>
    <div class="mobile-nav">
      <button class="mobile-nav_close">X</button>
  
      
        <nav>
          <ul>
            <li><a class="<%= path === '/articles' ? 'active' : '' %>" href="/articles">All Articles</a></li>
          </ul>
          
          <% if (!isLoggedIn) { %> 
          <ul class="sign-in__login">
            <li><a class="<%= path === '/login' ? 'active' : ' ' %>" href="/login">Login</a></li>
            <li><a class="<%= path === '/signup' ? 'sign-up active' : 'sign-up' %>" href="/signup">Sign Up</a></li>
          </ul>
        <% } else { %>
          <ul class="sign-in__login"> 
            <li>              
              <a class="<%= path === '/create-article' ? 'sign-up active' : 'sign-up'  %>" href="/create-article">
                <i class='fas fa-pencil-alt'></i>
                Write Article
              </a>              
            </li>
            <li>              
              <a class="<%= path === '/my-articles' ? ' active' : ' '  %>" href="/my-articles">
                My Articles
              </a>
              </li>
              <form action="/logout" method="post">
                <button class= 'logout' type="submit">Logout</button>
              </form>
            
          </ul>
          <% } %>

        </nav>
    </div>
  
  
      <header>
          <a href="/" class="logo">
            <img src="/img/alticle_logo.jpg" alt="alticle_logo" /><br />
          </a>
    
          <nav>
            <ul>
              <li><a class="<%= path === '/articles' ? 'active' : '' %>" href="/articles">All Articles</a></li>
            </ul>
            <% if (!isLoggedIn) { %> 
          <ul class="sign-in__login">
            <li><a class="<%= path === '/login' ? 'active' : ' ' %>" href="/login">Login</a></li>
            <li><a class="<%= path === '/signup' ? 'sign-up active' : 'sign-up' %>" href="/signup">Sign Up</a></li>
          </ul>
        <% } else { %>
          <ul class="sign-in__login">
            <li>              
              <a class="<%= path === '/create-article' ? 'sign-up active' : 'sign-up'  %>" href="/create-article">
                <i class='fas fa-pencil-alt'></i>
                Write Article
              </a>              
            </li>
            <li>              
              <a class="<%= path === '/my-articles' ? ' active' : ' '  %>" href="/my-articles">
                My Articles
              </a>              
            </li>
            <form action="/logout" method="post">
              <button class= 'logout' type="submit">Logout</button>
            </form>
          </ul>
          <% } %>
          </nav>
  
          <div class="mobile-nav_toggle">
            <button class="mobile-nav_toggle-btn">
              <img src="/img/menu.svg" alt="toggle-btn" />
            </button>
          </div>
        </header>