<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/create-article.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <% if (errorMessage) { %>
            <div class="errorMessage"><%= errorMessage %></div>
        <% } %>
        <form class="form" action="/create-article" method="POST"  enctype="multipart/form-data"> 
            <div>
                <label for="cover-image"> Upload cover photo: </label>
                <input type="file" id="cover-image" name="coverImage">
            </div>           
            <div>   
                <input type="text" name="title" id="title" placeholder="Add Title" value="<%= oldInput.title %>">
            </div>
            <div>   
                <input type="text" name="description" id="description" placeholder="Pricing" value="<%= oldInput.description %>">
            </div>
            <div>
                <textarea name="body" id="article" placeholder="Detailed description" ><%= oldInput.body %></textarea>           
            </div>
            <div>   
                <input type="text" name="tags" id="tags" placeholder="Add tags, saperate with comma (,)" value="<%= oldInput.tags %>">
            </div>
            <div class="publish-chkbox">
                <label for="publish">Publish immediately: </label>
                <input type="checkbox" name="publish" id="publish">
            </div>
            <div class="btns">
            <button class="btn" type="submit">Save draft</button>
            </div>
            
        </form>
    </main>

<%- include('../includes/end.ejs') %></body>