<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/create-article.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <form class="form" action="/edit-article/<%= article._id%>" method="POST">
            
            <div>   
                <input type="text" name="title" id="title" placeholder="Add Title" value="<%= article.title %>" >
            </div>
            <div>   
                <input type="text" name="description" id="description" placeholder="Add a short description" value="<%= article.description %>">
            </div>
            <div>
                <textarea name="body" id="article" placeholder="Tell your story..."> <%= article.body %></textarea>           
            </div>
            <div>   
                <input type="text" name="tags" id="tags" placeholder="Add tags, saperate with comma (,)" value="<%= article.tags %>">
            </div>

            <div class="btns">
            <button class="btn" type="submit">Update</button>
            </div>
            
        </form>
    </main>

<%- include('../includes/end.ejs') %></body>