<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/articles.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h1>Your Articles</h1>

        <% for(var i = 0; i < articles.length; i++) { %>
            <article>
                <h3><%= articles[i].title %></h3>
                <p><%= articles[i].description %></p>
                <p class="details">
                    <span>Reading Time: <%= articles[i].reading_time %></span>
                    <span>Read count: <%= articles[i].read_count %>  </span>
                    <span>State: <%= articles[i].state %>  </span>
                </p>
                <a href="edit-article/<%= articles[i]._id%>">Edit Article >>></a>
            </article> 
        <% } %>

    </main>

<%- include('../includes/end.ejs') %>