<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/articles.css">
<link rel="stylesheet" href="css/my-articles.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h1>Your Articles</h1>

        <% for(var i = 0; i < articles.length; i++) { %>
            <article>
                <h3><%= articles[i].title %></h3>
                <p><%= articles[i].description %></p>
                <p class="details">
                    <span>Reading Time: <%= articles[i].reading_time %></span>
                    <span>Read count: <%= articles[i].read_count %>  </span>
                    <span>State: <%= articles[i].state %>  </span>
                </p>
                
                <div class = 'btns'>
                <form action="/edit-article/<%=articles[i]._id%>/update_state" method="post">
                    
                        <button class="btn" type="submit">
                            <% if (articles[i].state == "draft") { %>
                                Publish
                            <% } else { %>
                                Unpublish
                            <% } %>                            
                        </button>
                        <a class='edit-article' href="edit-article/<%=articles[i]._id%>">Edit</a>                    
                </form>
                <form action="/delete-article/<%=articles[i]._id%>" method="post">                    
                    <button class="delete-btn" type="submit">
                        Delete                          
                    </button>                  
                </form>
            </div>


                

            </article> 
        <% } %>

    </main>

<%- include('../includes/end.ejs') %>