<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/donation.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h2>Thank you </h2>
        <h3><%= donor.full_name %></h3>
        <h3>your donation of <%= donor.amount/100 %> Naira was succesful</h3>
    </main>

<%- include('../includes/end.ejs') %>