<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/articles.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
      <form class = "search" action="" method="get">
        <input type="text" name="title" id="search" placeholder="Search" value="<%= prevSearch %>">
        <button type="submit">Search</button>
      </form>
       
        <% for(var i = 0; i < articles.length; i++) { %>
          <a class='article' href="article/<%= articles[i]._id%>">
                <img src="/img/default-cover.webp" alt="cover-photo">
                <div>
                   <div>
                     <h2><%= articles[i].title %></h2>                   
                     <p><%= articles[i].description %></p>
                   </div>                 
                   <div class="details">                  
                     <span><i class='fas fa-clock'></i>  <%= articles[i].reading_time %></span>
                     <span><i class='fas fa-book-reader'></i> <%= articles[i].read_count %>  </span>
                     <span><i class='fas fa-user-alt'></i> <%= articles[i].author.username %></span>
                   </div>
                </div>                
           </a>
        <% } %>

    </main>

<%- include('../includes/end.ejs') %>