<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/articles.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h1>Articles</h1>

        <% for(var i = 0; i < articles.length; i++) { %>
            <article>
                <h3><%= articles[i].title %></h3>
                <p><%= articles[i].description %></p>
                <p class="details">
                    <span>Reading Time: <%= articles[i].reading_time %></span>
                    <span>Read count: <%= articles[i].read_count %>  </span>
                    <span>Author: <%= articles[i].author.username %></span>
                </p>
                <a href="/articles/<%= articles[i]._id%>">Continue Reading >>></a>
            </article> 
        <% } %>

    </main>

<%- include('../includes/end.ejs') %>