<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/article.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <img class = 'cover-photo' src="/img/default-cover.webp" alt="Cover Photo">
        <h1><%= article.title %></h1> 
        <p class="details">
            <span>Reading Time: <%= article.reading_time %></span>
            <span>Read count: <%= article.read_count %>  </span>
            <span>Author: <%= article.author.username %></span>
        </p>   
        <p class="description"><%= article.description %></p>
        <p class="body"><%= article.body %></p>                  

    </main>

<%- include('../includes/end.ejs') %>