<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/articles.css">
<link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <% if (!isLoggedIn) { %>
            <!-- Homepage content for non-logged-in users -->
            <section class="hero">
              <div class="logo-container">
                <br>
                <br>
                <img src="/img/ABU.png" alt="ABU CourseHub Logo" class="logo">
                <br>
                <br
            </div>
                <p>Your hub for sharing and accessing educational resources and fostering academic collaboration in ABU Zaria</p>
                <br>
                <br>
                <br>
                <ul class="sign-in__login2">
                  <li>
                    <a class="<%= path === '/login' ? 'active' : ' ' %>" href="/login"
                      >Login</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%= path === '/signup' ? 'sign-up active' : 'sign-up' %>"
                      href="/signup"
                      >Sign Up</a
                    >
                  </li>
                </ul>
            </section>

            <section class="features">
                <div class="feature">
                    <i class="fas fa-upload"></i>
                    <h2>Upload Course Materials</h2>
                    <p>Lecturers can easily upload and manage course materials for their students.</p>
                </div>
                <div class="feature">
                    <i class="fas fa-folder-open"></i>
                    <h2>Organized by Courses & Semesters</h2>
                    <p>Materials are categorized by courses and semesters for easy access.</p>
                </div>
                <div class="feature">
                    <i class="fas fa-comments"></i>
                    <h2>Course Discussion Forums</h2>
                    <p>Engage in discussions and collaborate with peers and lecturers.</p>
                </div>
            </section>s
        <% } else { %>
            <!-- Content for logged-in users -->
            <form class="search" action="" method="get">
                <input type="text" name="title" id="search" placeholder="Search for course" value="<%= prevSearch %>">
                <button type="submit">Search</button>
            </form>

            <% for(var i = 0; i < articles.length; i++) { %>
                <a class='article' href="article/<%= articles[i]._id %>">
                    <img src="<%= articles[i].image %>" alt="cover-photo">
                    <div class="detail">
                        <h2><%= articles[i].title %></h2>
                        <p><%= articles[i].description %></p>
                        <div class="details">
                            <span><i class='fas fa-eye'></i> <%= articles[i].read_count %> </span>
                            <span><i class='fas fa-user-alt'></i> <%= articles[i].author.username %></span>
                        </div>
                    </div>
                </a>
            <% } %>

            <section class="pagination">
                <% if (hasPrevPage) { %>
                    <a href="/?page=<%= prevPage %>">&lt;&lt; prev</a>
                <% } %>
                <% if (hasNextPage) { %>
                    <a href="/?page=<%= nextPage %>">next &gt;&gt;</a>
                <% } %>
            </section>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>
